<span style="white-space:nowrap; text-overflow:ellipsis; overflow-x:hidden">
  <v-blockies :seed="pkh" :size="pr.size_bl" :scale="pr.scale_bl" class="rounded-circle mr-1" :class="pr.blockies_cl" v-if="pr.sh_blockies" :style="'width:' + pr.w_blockies + 'px'"></v-blockies>
  <a :class="pr.hash_cl" v-if="pr.path && pr.sh_hash" :style="'font-size:' + pr.w_hash + 'px'" :href="pr.path" target="_blank">{{ pkh.substr(0,pr.length) + '...' }}</a>
  <span :class="pr.hash_cl" v-else-if="pr.sh_hash" :style="'font-size:' + pr.w_hash + 'px'">{{ pkh.substr(0,pr.length) + (pr.length == 36 ? '' : '...') }}</span>
</span>
