<div id="app" class="flex-fill">

  <!-- START PAGE -->
  <div v-if="path=='start'" class="h-100 d-flex py-5">
    <div class="mx-auto py-5 text-center">
      <h1 class="display-5 font-weight-bold">Welcome to Metal</h1>
    </div>
    <div class="mx-auto py-5 text-center">
      <img class="welcome-logo" src="/img/metal.png" alt="Dune Metal">
    </div>
    <div class="mx-auto text-center mt-auto mb-5">
      <b-button variant="dark"></b-button>
    </div>
  </div>

  <!-- UNLOCK PAGE -->
  <div v-else-if="path=='unlock'" class="h-100 d-flex">
    <div class="mx-auto my-auto">
      <div class="text-center">
        <img class="dune-gif" src="/img/metal.gif" alt="Dune Metal">

        <b-form-group class="text-center" label="Password" :state="unlock.pwd_state" invalid-feedback="Wrong pasword">
          <b-form-input v-model="unlock.password" :state="unlock.pwd_state" type="password" @input="unlock.pwd_state = null" @keyup.enter="unlock_account()"></b-form-input>
        </b-form-group>
        <b-button class="m-4" variant="dark" @click="unlock_account()">Unlock</b-button>
      </div>
    </div>
  </div>

  <!-- NOTIF PAGE -->
  <div v-else-if="path=='notif'" class="h-100 d-flex flex-column notif">

    <!-- header -->
    <div id="header" class="mb-2">
      <div id="header-top" class="d-flex justify-content-between">
        <div class="header-logo"><img src="img/metal.png" alt="Dune Metal"></div>
        <div class="header-info align-self-center text-center">
          <span v-if="core.notif.kind=='approval'">Approval Request</span>
          <span v-else-if="core.notif.kind=='enable'">Enable Request</span>
          <span v-else-if="core.notif_error!=undefined">Error</span>
          <span v-else-if="core.notif.kind=='batch'">Batch Request</span>
          <span v-else-if="core.notif.op.kind=='transaction'">Transaction Request</span>
          <span v-else-if="core.notif.op.kind=='origination'">Origination Request</span>
          <span v-else-if="core.notif.op.kind=='delegation'">Delegation Request</span>
          <span v-else-if="core.notif.op.kind=='reveal'">Reveal Request</span>
          <span v-else-if="core.notif.op.kind=='manage_account'">Manage Account Request</span>
        </div>
        <div class="header-logo"></div>
      </div>
    </div>

    <v-notif :core="core" :close_notif="close_notif" :refuse_notif="refuse_notif" :inject_op="inject_op" :approve_url="approve_url" :dune_script="dune_script" :add_to_batch="add_to_batch" :postpone_batch="postpone_batch" class="d-flex flex-column flex-fill"></v-notif>
  </div>
</div>
