<div id="app" class="flex-fill">

  <!-- LOADING PAGE -->
  <div v-if="path=='loading'" class="h-100 d-flex">
    <div class="mx-auto my-auto">
      <div class="text-center">
        <img src="img/metal.gif" alt="Dune Metal" class="dune-gif">
      </div>
      <div class="text-center">
        <span>Loading...</span>
      </div>
    </div>
  </div>

  <!-- START PAGE -->
  <div v-else-if="path=='start'" class="h-100 d-flex py-5 flex-column">
    <div class="mx-auto py-5 text-center">
      <h1 class="display-5 font-weight-bold">Welcome to Metal</h1>
    </div>
    <div class="mx-auto py-5 text-center">
      <img class="welcome-logo" src="/img/metal.png" alt="Dune Metal">
    </div>
    <div class="mx-auto text-center mt-auto mb-5">
      <b-button @click="route('presentation')" variant="dark">Getting started</b-button>
    </div>
  </div>


  <!-- UNLOCK PAGE -->
  <div v-else-if="path=='unlock'" class="h-100 d-flex">
    <div class="mx-auto my-auto">
      <div class="text-center">
        <img class="dune-gif" src="/img/metal.gif" alt="Dune Metal">

        <b-form-group class="text-center" label="Password" :state="unlock.pwd_state" invalid-feedback="Wrong pasword">
          <b-form-input v-model="unlock.password" :state="unlock.pwd_state" type="password" @input="unlock.pwd_state = null" @keyup.enter="unlock_account()"></b-form-input>
        </b-form-group>
        <b-button class="m-4" variant="dark" @click="unlock_account()">Unlock</b-button>
        <div class="forgot-btn" @click="route('reset')">Forgot your Password?</div>
      </div>
    </div>
  </div>

  <!-- MAIN POPUP -->
  <div v-else class="h-100 d-flex flex-column flex-fill">

    <!-- HEADER -->
    <div id="header">
      <div id="header-top" class="d-flex justify-content-between">
        <div id="coin-logo" class="header-logo">
          <img src="/img/metal.png" alt="Dune Metal">
          <b-button class="ml-auto m-2 p-0 notif-icon" @click="route('notifs')" variant="default" :disabled="core.notifications.length==0">
            <b-badge pill :variant="core.notifications.length==0 ? 'dark' : 'danger'">
              {{ core.notifications.length }}
            </b-badge>
          </b-button>
        </div>
        <div class="flex-grow-1 header-network">
          <b-form-select v-model="core.network" :options="core.networks" @change="change_network()" class="networks">
          </b-form-select>
        </div>
        <a class="rounded-blockies header-account-blockies align-self-center" :href="dunscan_path + core.account.pkh">
          <v-blockies :seed="core.account.pkh" size="8" scale="8"></v-blockies>
        </a>
      </div>

      <div id="header-account" class="d-flex justify-content-between">
        <div class="header-account-options align-self-center" v-for="(item, index) in [{title:'Accounts', path:'accounts',icon:'users'}, {title:'Refresh', path:'refresh', icon:'sync'}, {title:'Expand', path:'expand', icon:'expand-arrows-alt'}, {title:'Lock', path:'lock', icon:'lock'}, {title:'Settings', path:'settings', icon:'cogs'}]" :key="index">
          <b-button :title="item.title" variant="light" class="header-buttons" @click="route(item.path)">
            <i :class="'fas fa-' + item.icon"></i>
          </b-button>
        </div>
      </div>
    </div>

    <!-- MAIN VIEW -->
    <div v-if="path=='home'" class="d-flex flex-column flex-grow-1">

      <!-- central view -->
      <div class="text-center d-flex flex-column">
        <div class="text-center pt-2">
          <a @click="copy(core.account.pkh)" v-b-tooltip.hover.bottomright="core.copied ? 'Copied!' : 'Copy to clipboard'" class="pr-1">{{ core.account.name }}</a>
        </div>
        <div class="main-dune-logo mt-2">
          <img src="/img/dune-logo.png" alt="Dune Metal">
        </div>
        <v-dun id="main-balance-value" :amount="core.balance" undef_class="text-danger" undef_title="cannot find account"></v-dun>
        <div v-if="!(core.account.pkh.substr(0,3)=='KT1' && !core.account.managerKT)" class="main-buttons mb-3">
          <b-button variant="outline-success" class="m-2" @click="route('deposit')">Deposit</b-button>
          <b-button variant="outline-primary" class="m-2" @click="route('send')">Send</b-button>
        </div>
        <div v-if="core.delegate!=undefined && core.delegate.pkh==core.account.pkh" class="delegated-baker align-self-center text-center small">
          <div class="baker-badge">Baker</div>
          <div class="baker-info">
            <span class="baker-alias">Manage Baker</span>
            <span class="baker-switch">
              <b-button @click="route('manage_account')" variant="link">
                <i class="fas fa-edit"></i>
              </b-button>
            </span>
          </div>
        </div>
        <div v-else-if="!(core.account.pkh.substr(0,3)=='KT1' && !core.account.managerKT)" class="delegated-baker align-self-center text-center small">
          <div class="baker-badge">Your delegate</div>
          <div class="baker-info">
            <span class="baker-logo">
              <i v-if="core.delegate==undefined || core.delegate.logo==undefined" class="fas fa-bread-slice"></i>
              <img v-else :src="dunscan_path + 'images/' + core.delegate.logo">
            </span>
            <span class="baker-alias">
              {{ core.delegate == undefined ? 'Choose a new delegate' : core.delegate.name }}
            </span>
            <span class="baker-switch">
              <b-button @click="route('delegate')" variant="link">
                <i class="fas fa-edit"></i>
              </b-button>
            </span>
          </div>
        </div>
        <div v-else class="delegated-baker align-self-center text-center small">
          <div class="no-baker-info"></div>
        </div>
      </div>

      <!-- transaction history -->
      <div id="history" class="custom-scrollbar">
        <div v-if="core.transaction_history.ops.length==0" class="text-center mt-4">
          No transaction yet
        </div>
        <div v-else>
          <b-container class="transaction-border" fluid v-for="(tr, index) in core.transaction_history.ops" :key="index">
            <div v-if="tr.operations[0].transaction!=undefined" class="py-2" v-b-toggle="tr.hash">
              <b-row class="align-items-center">
                <!--status-->
                <b-col cols="8" class="history-status d-flex align-items-center">
                  <span class="account-blockies">
                    <v-blockies scale="8" size="8" :seed="core.account.pkh==tr.operations[0].info.source ? tr.operations[0].transaction.destination : tr.operations[0].info.source"></v-blockies>
                  </span>
                  <div class="ml-3">
                    <div>{{ core.account.pkh==tr.operations[0].info.source ? 'Sent' : 'Received' }}</div>
                    <span v-if="tr.operations[0].transaction.parameters!=undefined" class="text-primary ml-2 internal-call" title="Smart contract">
                      <i class="fas fa-file-contract"></i>
                    </span>
                    <span v-if="tr.operations[0].info.failed" class="float-left small text-danger">
                      <span class="text-small">
                        <span class="pr-1 small"> <i class="fas fa-times"></i></span>
                      </span>
                      <span class="status-text">failed</span>
                    </span>
                    <span v-else-if="tr.block==undefined" class="float-left small text-warning">
                      <span class="text-small">
                        <span class="pr-1 small"> <i class="fas fa-hourglass-half"></i></span>
                      </span>
                      <span class="status-text">pending</span>
                    </span>
                    <span v-else class="float-left small text-success">
                      <span class="text-small">
                        <span class="pr-1 small"> <i class="fas fa-check"></i></span>
                      </span>
                      <span class="status-text">confirmed</span>
                    </span>
                  </div>
                </b-col>
                <!--amount-->
                <b-col cols="4" class="history-amount text-right">
                  <div :class="core.account.pkh==tr.operations[0].info.source ? 'to-transaction' : 'from-transaction'">
                    <v-dun precision="2" width="6" :amount="tr.operations[0].transaction.amount"></v-dun>
                  </div>
                  <div class="italic small text-muted">
                    {{ tr.block == undefined ? 'waiting' : pp_ago(tr.block.timestamp) }}
                  </div>
                </b-col>
              </b-row>
            </div>
            <!--details-->
            <b-collapse :id="tr.hash" class="details pb-2">
              <div class="arrow-div mb-2">
                <div class="details-hash text-muted text-center">
                  <v-account :net="core.network" :pkh="tr.operations[0].info.source" show_blockies="false"></v-account>
                </div>
                <div class="text-center" :class="tr.operations[0].info.failed ? 'text-danger' : 'text-success'"><i class="fas fa-arrow-down"></i>
                </div>
                <div class="details-hash text-muted text-center">
                  <v-account :net="core.network" :pkh="tr.operations[0].transaction.destination" show_blockies="false"></v-account>
                </div>
              </div>
              <div v-if="tr.operations[0].transaction.parameters!=undefined" class="param mt-2">
                <div class="text-left">
                  {{ tr.operations[0].transaction.parameters.entrypoint==undefined ? 'No entrypoint' : 'Entrypoint: ' + tr.operations[0].transaction.parameters.entrypoint }}
                </div>
                <pre>{{ tr.operations[0].transaction.parameters.value==undefined ? 'No value' : tr.operations[0].transaction.parameters.value }}</pre>
              </div>
              <label>operation hash</label>
              <div class="details-hash text-muted">
                <a :href="dunscan_path + tr.hash" target="_blank">{{tr.hash}}</a>
              </div>
              <label>included in block</label>
              <div class="details-hash text-muted">
                <span v-if="tr.block==undefined">pending</span>
                <a v-else :href="dunscan_path + tr.block.hash">{{tr.block.level}}</a>
              </div>
              <label>timestamp</label>
              <div class="details-hash text-muted">
                {{ tr.block==undefined ? 'pending' : pp_date(tr.block.timestamp) }}
              </div>
              <label>fee</label>
              <div class="details-hash text-muted">
                <v-dun precision="2" :amount="tr.operations[0].info.fee"></v-dun>
              </div>
              <label>counter</label>
              <div class="details-hash text-muted">
                {{ tr.operations[0].info.counter }}
              </div>
              <label>gas limit</label>
              <div class="details-hash text-muted">
                {{ tr.operations[0].info.gasLimit }}
              </div>
              <label>storage limit</label>
              <div class="details-hash text-muted">
                {{ tr.operations[0].info.storageLimit }}
              </div>
              <label>internal</label>
              <div class="details-hash text-muted">
                {{ tr.operations[0].info.internal }}
              </div>
              <label v-if="tr.operations[0].info.burn!= undefined && tr.operations[0].info.burn!=0">burn</label>
              <div v-if="tr.operations[0].info.burn!= undefined && tr.operations[0].info.burn!=0" class="details-hash text-muted">
                <v-dun precision="2" :amount="tr.operations[0].info.burn"></v-dun>
              </div>
            </b-collapse>
          </b-container>
        </div>
      </div>
    </div>

    <!-- ACCOUNTS VIEW -->
    <div v-if="path=='accounts'" class="main-overflow-y custom-scrollbar">
      <b-list-group>
        <b-list-group-item button @click="path = 'home'">
          <i class="fas fa-arrow-left"></i>
        </b-list-group-item>
        <b-list-group-item class="p-3 d-inline-flex" v-for="acc in core.accounts" button @click="change_account(acc)" :active="core.account.pkh == acc.pkh" :key="acc.pkh">
          <v-account :pkh="acc.pkh" :len="acc.pkh==acc.name ? 30 : 15" height="20"></v-account>
          <div class="flex-fill text-center align-self-center account-overflow mx-3">
            <span v-if="acc.pkh!=acc.name" class="lead font-weight-bold">{{ acc.name }}</span>
          </div>
        </b-list-group-item>
        <b-list-group-item class="p-2" variant="secondary"></b-list-group-item>
        <b-list-group-item class="p-3 lead" button @click="route('import')">
          Import KT1
        </b-list-group-item>
        <b-list-group-item class="p-3 lead" button @click="route('new')">
          New Account
        </b-list-group-item>
      </b-list-group>
    </div>

    <!-- NOTIFS VIEW -->
    <div v-if="path=='notifs' && core.notifications.length > 0" class="main-overflow-y custom-scrollbar">
      <b-list-group class="pt-3">
        <v-notif-small class="list-group-item" v-for="notif in core.notifications" :notif="notif" :network="core.network" :show_notif="show_notif" :deny_notif="deny_notif" :key="notif.id">
        </v-notif-small>
      </b-list-group>
    </div>

    <div v-if="path=='notifs' && core.notifications.length == 0" class="main-overflow-y custom-scrollbar">
      <div class="p-3 text-center">
        <div>No notif to view</div>
        <b-button variant="primary" class="m-3" @click="path='home'">Back</b-button>
      </div>
    </div>

    <!-- NOTIF VIEW -->
    <div v-if="path=='notif'" class="main-overflow-y custom-scrollbar d-flex flex-column">
      <v-notif :core="core" :close_notif="close_notif" :refuse_notif="refuse_notif_popup" :inject_op="inject_op_popup" :approve_url="approve_url_popup" :dune_script="dune_script" :add_to_batch="add_to_batch_popup" :postpone_batch="postpone_batch_popup" class="p-2 d-flex flex-column flex-fill"></v-notif>
    </div>

    <!-- SEND VIEW -->
    <div v-if="path=='send'" class="main-overflow-y custom-scrollbar">
      <div class="text-center m-3 lead">Send DUN</div>
      <v-transaction class="px-3" :op="core.op" :clear_op="clear_op" :show_op="show_op" :route="route" :expandable="false" :expanded="false"></v-transaction>
    </div>

    <!-- DELEGATE VIEW -->
    <div v-if="path=='delegate'" class="main-overflow-y custom-scrollbar">
      <div class="text-center m-3 lead">Delegate your account</div>
      <v-delegation class="px-3" :core="core" :clear_op="clear_op" :show_op="show_op" :route="route" :expandable="false" :expanded="false"></v-delegation>
    </div>

    <!-- MANAGE ACCOUNT VIEW -->
    <div v-if="path=='manage_account'" class="main-overflow-y custom-scrollbar">
      <div class="text-center m-3 lead">Manage your baker</div>
      <v-manage-account class="px-3" :core="core" :clear_op="clear_op" :show_op="show_op" :set_manage_account_json="set_manage_account_json"></v-manage-account>
    </div>

    <!-- DEPOSIT VIEW -->
    <div v-if="path=='deposit'">
      <div class="d-flex">
        <b-button variant="default" class="ml-auto m-2 p-0" @click="path='home'">
          <i class="fas fa-times"></i>
        </b-button>
      </div>
      <div class="text-center align-self-center m-auto">
        <div class="m-3 mt-0 text-center custom-tooltip">
          <div class="mb-2 rounded-blockies">
            <v-blockies class="" size="8" scale="8" :seed="core.account.pkh"></v-blockies>
          </div>
          <a @click="copy(core.account.pkh)" v-b-tooltip.hover :title="core.copied ? 'Copied!' : 'Copy to clipboard'">{{ core.account.name }}</a>
        </div>
        <div id="qr-code"></div>
        <div class="dunscan-link mt-3">
          <b-button :href="dunscan_path + core.account.pkh" variant="outline-primary" target="_blank" class="m-2">
            <img class="pr-2" src="/img/dune-logo.png" alt="DunScan">
            View on Dunscan
          </b-button>
        </div>
      </div>
    </div>

    <!-- IMPORT KT1 VIEW -->
    <div v-if="path=='import'" class="main-overflow-y custom-scrollbar">
      <div class="text-center m-3 lead">Import your KT1</div>
      <v-import-kt1 class="px-3" :core="core" :import_accounts="import_accounts" :clear_import="clear_import_popup"></v-import-kt1>
    </div>

  </div>
</div>
