::-webkit-scrollbar {
    width: 0.4em;
    background-color: var(--light);
    margin-bottom: 1px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    margin-top: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  outline: 1px solid var(--light);
}

@font-face {
    font-family: 'TH Sarabun New Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TH Sarabun New Regular'), url('../THSarabunNew.woff') format('woff');
}

body {
    background-color: whitesmoke;
    font-family: 'TH Sarabun New Regular';
    display: flex;
    flex-direction: column;
}

.notif {
    font-size: 24px;
}

textarea {
    font-family: var(--font-family-monospace, monospace);
    font-size: small!important ;
}

#main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

#unlock-container {
    height: 100%;
}

/* headers */

#header {
    background: linear-gradient(to bottom, #16406d , whitesmoke)!important;
}

#header-top {
    color: var(--dark);
    width: 100%;
    height: 65px;
    padding: 0 5px;
}
.header-info {
    font-size: x-large ;
    font-weight: bold ;
}
.header-logo {
    width: 50px;
}
.header-logo img {
    height: 65px;
    padding: 15px 0px 7px 10px;
    width: 50px;
}
.header-network {
    padding: 18px 3px 0px 7px;
}
.header-options i {
    color: var(--dark);
    padding: 5px 0px 0px 0px;
}

#header-account {
    color: var(--dark);
    width: 100%;
    height: 38px;
    padding: 5px 40px;
}
.header-account-options {
    color: var(--dark) ;
}
.header-account-info {
    padding: 10px;
}
.header-account-blockies {
    padding: 10px;
}
.header-account-blockies img {
    height: 35px;
    padding-top: 5px;
}

.header-buttons {
    color: #212529;
    background-color: #e9ecef00;
    border: none;
}

/* main */

.main-overflow-y {
    overflow-y: auto;
    height: 497px;
}
.main-dune-logo img {
    height: 90px;
}
#main-balance-value {
    font-size: 30px;
}
.main-buttons button {
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}
.operation-form, .confirm-operation-form {
    width: 90%;
}
.input-group>.input-group-prepend>.input-group-text {
    width: 90px;
}
.input-group>.input-group-append>.input-group-text {
    width: 50px;
}
.input-group>.unset-checkbox>.input-group-text {
    width: 100px;
}

/* history */
#history {
    font-family: 'TH Sarabun New Regular';
    font-style: normal;
    font-size: x-large;
    max-height: 179px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--light) var(--dark);
}
#history .details-hash {
    font-size : large ;
    font-weight : unset ;
    background-color : lightgrey ;
    overflow: hidden ;
    padding: 3px ;
    cursor: default ;
}
#history .details-hash a {
    color: inherit ;
}
.details .arrow-div .fas {
    font-size: small ;
    padding: 3px ;
}
.details label {
    font-size: medium ;
    font-style: normal ;
    color : darkslategray ;
    margin-bottom: 0;
}
.param pre {
    font-size: x-small ;
    font-weight: 300 ;
    white-space: pre-wrap ;
    word-break: break-all ;
    background-color: lightblue;
    margin-bottom: 0;
}
.transaction-border {
    border-bottom: 1px solid lightgrey;
}
.transaction-border > div:first-child {
    cursor: pointer ;
}
.confirmed-transaction {
    border: 5px solid;
    border-image: linear-gradient(to bottom right, var(--success), var(--dark)) 1;
}
.failed-transaction {
    border: 5px solid;
    border-image: linear-gradient(to bottom right, var(--dark), var(--danger)) 1;
}
.pending-transaction {
    border: 5px solid;
    border-image: linear-gradient(to bottom, var(--dark), var(--warning)) 1;

}
.history-account {
    white-space: nowrap;
}
.history-status .account-hash {
    vertical-align: top;
}

.history-amount {
    /* font-size: 16px; */
    white-space: nowrap;
}
.history-timestamp {
    white-space: nowrap;
    /* font-size: 10px; */
}
.history-amount .to-transaction {
    color : var(--danger) ;
}
.history-amount .from-transaction {
    color : var(--success) ;
}

/* side accounts */
.account-pkh {
    font-size: 14px;
    font-family : /* 'Ubuntu', sans-serif; */ monospace;
}
.account-alias {
    font-size: 18px;
    font-family : 'Ubuntu', sans-serif;
}
.account-blockies img {
    height: 42px;
    border-radius: 25px !important;
}
.account-blockies.filler img {
    height: 42px;
    border-radius: 25px !important;
}
.account-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}
.import-checkbox {
    width: 250px;
}

/* notification view */
.account-w-blockies, .notif-amount {
    white-space: nowrap;
}
.account-w-blockies img {
    height: 16px;
    margin: 0 4px;
    vertical-align: text-bottom;
    border-radius: 8px !important;
}


.networks {
    border-radius : 1.25rem;
    height: calc(1.5em + 0.5rem + 2px);
}

#coin-logo {
    position: relative;
}

.notif-icon {
    left: 0px;
    right:-7px;
    top: -15px;
    bottom: 20px;
    position: absolute;
    width: 15px;
}

.delegated-baker {
    width: 85%;
    height: 70px;
}

.baker-badge {
    width: 50%;
    font-size: 11px;
    padding: 0px 3px;
    border: solid 1px lightgray;
    border-bottom-width: 0px;
    background-color: #a6b9bf3b;
    font-weight: 400;
}

.baker-info {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    font-size: 15px;
}

.no-baker-info {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0px;
    font-size: 15px;
}

.baker-logo img {
    font-size: 16px;
    height: 25px
}
.baker-alias {
    padding-left: 10px;
    padding-right: 10px;
}

.baker-switch button {
    vertical-align: initial !important;
    color: black;
}

#qr-code img {
    display : initial !important;
    width: 50%;
}

.rounded-blockies img {
    border-radius: 33px !important;
}

.dunscan-link img {
    width: 20px;
}
.dunscan-link a {
    font-size: 20px;
}
img.dune-gif {
    width:100px ;
    height:100px ;
    margin-bottom: 100px ;
}

div.d-none * {
    display :none ;
}
.alert-primary {
    font-size : 20px ;
}
.alert-primary h3 {
    font-weight: bold ;
}
.alert-primary img {
    weight: 30px ;
    height: 30px ;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 22px 16px;
    border-radius: 35px;
    font-size: 20px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
}

.tr-infos {
    font-size: x-large ;
}

.currency img {
    height:50px ;
}

#amount .pp-dun {
    font-size: x-large ;
}

#amount .flex-fill {
    text-align: center ;
}
#script .flex-fill .param span,
#storage .flex-fill .param span,
#codehash .flex-fill .param span {
    text-align: center ;
}
#script .param pre,
#storage .param pre,
#codehash .param pre {
    font-size: x-small ;
    font-weight: 300 ;
    white-space: pre-wrap ;
    word-break: break-all ;
    max-height: 90px ;
    background-color: lightblue;
    margin-bottom: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    height: 50px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
				       left bottom,
				       left top,
				       color-stop(0.44, rgb(122,153,217)),
				       color-stop(0.72, rgb(73,125,189)),
				       color-stop(0.86, #16406d));
}

.pp-dun-decimal {
    font-size: 75%;
}

#main-balance-value .pp-dun {
    font-weight: bold;
}

.notif-list canvas, .notif-list img {
    height: 30px;
}

.notif-list > div {
    border-bottom : 1px solid lightgrey ;
}

.notif-list .pp-dun {
    font-size: x-large ;
    color: var(--danger) ;
}

.fa-level-down-alt {
    transform: scaleX(-1) ;
    -webkit-transform: scaleX(-1) ;
}

.forgot-btn {
    text-decoration: underline ;
    cursor: pointer ;
}

.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-tooltip .custom-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.status-text {
    font-size: large;
}
.internal-call {
    font-size: large;
}
.internal-call i {
    margin-top: 3px;
}

.text-small {
    font-size: small;
}

.text-x-larger {
    font-size: x-large;
}

#delegates-list {
    width: 307px;
    height: 45px;
}

.welcome-logo {
    height : 130px ;
    width : 130px ;
}

.fa-question-circle {
    font-size : 42px ;
}
.burn {
    color: var(--danger);
}

.alert-danger pre {
    font-size : x-small
}

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.2s infinite both;
	        animation: rotate-90-cw 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.2s infinite both;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.delegation canvas {
    height: 15px;
    border-radius: 25px !important;

}

.delegation .account-blockies {
    line-height:4px ;
}

.delegation .old-delegate {
    color : red ;
}

.delegation .old-delegate span {
    text-decoration: line-through ;
}

.delegation .new-delegate {
    color : green ;
}

.contract-loading {
    width: 1rem ;
    height: 1rem ;
}

.accordion .card-header {
    font-weight: bold ;
    background-color : lightblue
}
