::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
    background-color: var(--light);
    margin-bottom: 1px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    margin-top: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  outline: 1px solid var(--light);
}

@font-face {
    font-family: 'TH Sarabun New Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TH Sarabun New Regular'), url('../THSarabunNew.woff') format('woff');
}

body {
    font-family: 'THSarabunNewRegular';
}

textarea {
    font-family: var(--font-family-monospace, monospace);
    font-size: small!important ;
}

/* common */
.pp-dun {
    white-space: nowrap;
}

.forgot-btn {
    text-decoration: underline ;
    cursor: pointer ;
}

/* account selected */
.main-blockies {
    height: 100px;
    border-radius: 50px !important;
}
.account-hash-home {
    width: 80%;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.balance-home {
    font-size: 32px;
}

/* notifs list */
.notifs-list-overflow {
    max-height: 290px;
    overflow-y: auto;
}

/* forms */
.home-form-container {
    min-width: 445px;
    width: 75%;
    min-height: 250px;
}
.input-group>.input-group-prepend>.input-group-text {
    width: 110px;
}
.input-group>.input-group-append>.input-group-text {
    width: 50px;
}
.input-group>.unset-checkbox>.input-group-text {
    width: 100px;
}
.import-checkbox {
    width: 250px;
}
.custom-select {
    -webkit-appearance: none;
}

/* notif modal */
.modal .modal-content {
    background-color: whitesmoke;
    height:600px !important;
    width:400px !important;
}

.modal .modal-body {
    font-size: 16px ;
    font-weight: 400 ;
    overflow-y: auto;
}

/* notif alert */
.alert-primary {
    font-size : 20px ;
}
.alert-primary h3 {
    font-weight: bold ;
}
.alert-primary img {
    weight: 30px ;
    height: 30px ;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
}

/* currency logo */
.currency img {
    height:50px ;
}

/* notif param */
.flex-fill .param span {
    text-align: center ;
}
.flex-fill .param pre {
    font-size: x-small ;
    font-weight: 300 ;
    white-space: pre-wrap ;
    word-break: break-all ;
    max-height: 90px ;
    background-color: lightblue;
    padding: 4px;
}

/* notif op header */
.fa-level-down-alt {
    transform: scaleX(-1) ;
    -webkit-transform: scaleX(-1) ;
}
.notif-op-header-account {
    max-width: 350px;
}
.delegation canvas {
    height: 15px;
    border-radius: 25px !important;

}
.delegation .account-blockies {
    line-height:4px ;
}
.delegation .old-delegate {
    color : red ;
}
.delegation .old-delegate span {
    text-decoration: line-through ;
}
.delegation .new-delegate {
    color : green ;
}

/* error */
pre {
    white-space: pre-wrap;
    word-break: break-word;
}

/* notif animation */
.rotate-90-cw {
	-webkit-animation: rotate-90-cw 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.2s infinite both;
	        animation: rotate-90-cw 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.2s infinite both;
}


/* PRESENTATION */
.header img {
    height: 100px ;
    width: 100px ;
}
.step-current {
    color : lime ;
}
.step {
    color : green ;
}
.slide-out {
	-webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.slide-in {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* dark theme */
.dark-theme .page-link {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

.page-link {
    background-color: var(--light) !important;
    color: var(--dark) !important;
}

.dark-theme .list-group-item {
    background-color: var(--dark) !important;
    text-color: var(--light) !important;
}
